{% extends "basic_app/basic_app_base.html" %}
{% block title %}School Details{% endblock %}

{% block body_block %}
    <div class="p-5 mb-4 bg-light border rounded-3">
        <h1>Welcome to the School Details Page</h1>
        <h2>School Details: </h2>
        <p>Name: {{ school_detail.name }}</p>
        <p>Principal: {{ school_detail.principal }}</p>
        <p>Location: {{ school_detail.location }}</p>

        <h3>A List of all the students in this school</h3>
        {% for student in  school_detail.students.all %}
            <p>{{ student.name }}, who is {{ student.age }} years old</p>
        {% endfor %}
    </div>
{% endblock %}