{% extends "basic_app/basic_app_base.html" %}
{% block title %}Create New School{% endblock %}

{% block body_block %}
<h1>
    <!-- Checks if the instance of the pk exists. If it does not exist, it creates a new scholl. If it exists, it updates the existing school. -->
    {% if not form.instance.pk %}
    Create New School
    {% else %}
    Update Existing School
    {% endif %}
</h1>

<div class="form-group">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}